.tech-item-container {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 3px 6px;
  &:hover {
    background-color: crimson;
    opacity: 0.9;
    transform: translate(1.5);

    // transition: transform 6s cubic-bezier(0.25, 0.45, 0.95, 0.255);
  }
  .tech-title {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 1px solid black;
  }
  .detail-content {
    display: flex;
    width: 100%;
    height: 100%;

    // background: green;
    .content-container {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;
      .actual-content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // border: 1px solid black;
        flex: 1 1 auto;
        .icon {
          width: 100%;
          height: 30%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .conten-name {
          width: 100%;
          height: 40%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
